<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add Flight</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar('Add Flight')"></nav>
		
		<h2>Hello!</h2>
		<h3>Tambah Penerbangan</h3>
		<form th:action="@{/flight/add/} + ${pilot.licenseNumber}" th:object="${pilot}" method="POST">
			<!--  <input type="hidden" th:field="*{pilot}" /> -->
			<input  type="hidden" th:field="*{licenseNumber}"></input>
			<table>
				<thead>
					<tr>
						<th>Flight Number</th>
						<th>Origin</th>
						<th>Destination</th>
						<th>Time</th>
						<th><button type="submit" name="addRow">Add Flight</button></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="flight, rowStat : *{pilotFlight}">
					
						<td><input type="text" th:field="*{pilotFlight[__${rowStat.index}__].flightNumber}"/></td>
						<td><input type="text" th:field="*{pilotFlight[__${rowStat.index}__].origin}"/></td>
						<td><input type="text" th:field="*{pilotFlight[__${rowStat.index}__].destination}"/></td>
						<td><input type="date" th:field="*{pilotFlight[__${rowStat.index}__].time}"/></td>
						<td><button type="submit" name="removeRow" th:value="${rowStat.index}">Remove</button></td>
					</tr>
				</tbody>
			</table>
			<button type="submit" name="save">Submit</button>
		</form>
	</body>
</html>